@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/vazir/Vazir-Bold.eot');
	src: url('../../fonts/vazir/Vazir-Boldd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/vazir/Vazir-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/vazir/Vazir-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/vazir/Vazir-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/vazir/Vazir-Medium-FD-WOL.eot');
	src: url('../../fonts/vazir/Vazir-Medium-FD-WOLd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/vazir/Vazir-Medium-FD-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/vazir/Vazir-Medium-FD-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/vazir/Vazir-Medium-FD-WOL.ttf') format('truetype');
}
@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/vazir/Vazir-Light-FD-WOL.eot');
	src: url('../../fonts/vazir/Vazir-Light-FD-WOLd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/vazir/Vazir-Light-FD-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/vazir/Vazir-Light-FD-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
}
@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/vazir/Vazir-Thin-FD-WOL.eot');
	src: url('../../fonts/vazir/Vazir-Thin-FD-WOLd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/vazir/Vazir-Thin-FD-WOL.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/vazir/Vazir-Thin-FD-WOL.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/vazir/Vazir-Thin-FD-WOL.ttf') format('truetype');
}
@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/vazir/Vazir.eot');
	src: url('../../fonts/vazir/Vazird41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/vazir/Vazir.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/vazir/Vazir.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/vazir/Vazir.ttf') format('truetype');
}
body {
	font-family: 'Vazir',sans-serif !important;
}